<div class="body">
    <div class="row">
        <div class="column">
          <div class="card">
              <img src="../assets/products1.jfif" alt="">
              <a routerLink="../product-details">Huntington in Cadet</a>
          </div>
          <br>
          <div class="card">
            <img src="../assets/products5.jfif" alt="">
            <a routerLink="../product-details">Anti Radiation Taylor in Charcoal</a>
        </div>
        </div>
        <div class="column">
          <div class="card">
            <img src="../assets/products2.jfif" alt="">
              <a routerLink="../product-details">Jett in Skin</a>
          </div>
          <br>
          <div class="card">
            <img src="../assets/products6.jfif" alt="">
            <a routerLink="../product-details">Anti Radiation Nigel</a>
        </div>
        </div>
        <div class="column">
          <div class="card">
            <img src="../assets/products3.jfif" alt="">
            <a routerLink="../product-details">Lukas in Moss</a>
          </div>
          <br>
          <div class="card">
            <img src="../assets/products7.jfif" alt="">
            <a routerLink="../product-details">Anti Radiation Jett in Plum</a>
        </div>
        </div>
        <div class="column">
          <div class="card">
            <img src="../assets/products4.jfif" alt="">
            <a routerLink="../product-details">Dallas in Beech</a>
          </div>
          <br>
          <div class="card">
            <img src="../assets/products8.jfif" alt="">
            <a routerLink="../product-details">Anti Radiation Rocko in Charcoal</a>
        </div>
        </div>
    </div>
</div>