.title {
    font-size: 30pt;
    font-family: Poppins;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1in;
}

a {
    font-family: Poppins;
    color: black;
}

ul {
    margin-right: 1in;
}