
<div class="navbar">
  <p class="title"> SUNNIES STUDIOS</p>
  <ul class = "nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" routerLink = "../home" >Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink = "../about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink = "../products">Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink = "../contact">Contact</a>
    </li>
  </ul>
</div>


<router-outlet></router-outlet>