.body{
    background-color: whitesmoke;
}

.about-us {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 8in;
    background-color: #d6d1cb;
}

.about-text{
    width: 40%;
    float:left;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5in;
}

.about-img{
    width: 50%;
    float: right;
}

.about-img > img {
    width: 100%;
    padding-right: 1in;
    padding-top: 1in;
}

.products{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 7in;
    background-color: #d6d1cb;
}

.prod-text{
    width: 40%;
    float:right;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5in;
}

.prod-img{
    width: 50%;
    float: left;
}

.prod-img > img {
    width: 87%;
    padding-left: 1in;
}

h1 {
    font-family: Poppins;
    font-weight: bold;
    font-size: 30pt;
}

p {
    font-family: Poppins;
    font-size: 11pt;
}