<div class="body">
    <div class="about-us">
        <div class="about-text">
            <h1>ALL ABOUT US</h1>
            <p>Sunnies Studios was founded in 2013, first as a one stop-shop for sunglasses and later on as a full-service optical that houses both sunglasses and prescription eyewear.
                <br><br>
                Inspired by classic silhouettes and contemporary trends, each product is designed for everyday comfort and pleasure. There’s one for everyone whether it’s for staying in or going out. We make sure you invest in your vision with a frame you’ll love and keep for a long time without ever having to overspend or compromise quality.</p>
        </div>
        <div class="about-img">
            <img src="../assets/about1.png" alt="">
        </div>
    </div>
    <div class="products">
        <div class="prod-img">
            <img src="../assets/about2.jfif" alt="">
        </div>
        <div class="prod-text">
            <h1>OUR PRODUCTS</h1>
            <p>There’s no such thing as one size fits all in eyewear so we source materials based on utility.
                <br><br>
                We have premium acetate for those who value heft over flexibility. We also offer TR90 and polycarbonate for their all-around reliability. If it’s in your taste to go lightweight, there’s a variety of metal to choose from. All of these are customized with shapes and colors for a wide range of face shapes and style preferences</p>
        </div>
    
    </div>
</div>